:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-color: #2196F3;
    --secondary-color: #212121;
    --third-color: #757575;
}

body {
    font-family: var(--main-font);
}

/* ===== HEADER ===== */

.main-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}

.main-logo span {
    color: var(--main-color);
}

.navigation_list {
    list-style: none;
}

.navigation_list-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    text-decoration: none;
}

.navigation_list-item-link:hover,
.navigation_list-item-link:focus,
.navigation_list-item-link:visited {
    color: var(--main-color);
}

.navigation_list-item-link-contact {
    color: var(--third-color);
}

/* ===== END HEADER ===== */

/* =====  HERO ===== */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #2F303A;
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* ===== END HERO ===== */

/* =====  EMPTY ===== */

/* ===== END EMPTY ===== */